fastapi
uvicorn[standard]
httpx
meilisearch
beautifulsoup4
SQLAlchemy
apscheduler
langchain
langchain-community
langchain-openai
langchain-core
faiss-cpu
numpy
pydantic
python-dotenv
torch
transformers
jieba
setuptools<81
scikit-learn
fpdf2
